/* latin-ext */
@font-face {
  font-family: 'Arizonia';
  font-style: normal;
  font-weight: 400;
  src: local('Arizonia Regular'), local('Arizonia-Regular'), url(https://fonts.gstatic.com/s/arizonia/v9/neIIzCemt4A5qa7mv5WPFqwKUQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Arizonia';
  font-style: normal;
  font-weight: 400;
  src: local('Arizonia Regular'), local('Arizonia-Regular'), url(https://fonts.gstatic.com/s/arizonia/v9/neIIzCemt4A5qa7mv5WBFqw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-toggle {
    min-width: 85%;
    max-width: 90%;

}


.topsearch {

    /*position:absolute;
  top:10%;
  margin-top:10%;
  left:20%;
  width:70%;*/
    margin-top: 10%;
    margin-bottom: 10%;
    width: 70%;
    margin-left: 20%;

}



.checkboxinput {

    margin-left: 25px;



}

/* our entire project is attached to div root. */
/* fill entire page and work with that */
html,
body,
#root,
.rootdk {


    height: 100%;
    width: 100%;


}

/* 100% = size of parent element. 100vw is gonna include the scrollbar too lol*/
.container {



    min-width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows:1fr 50px;

    /*hax:*/
    height: 90vh;
    overflow: auto;
    background: #f7f9fb;


}
.login{
    margin-right:40px;

}
.header {


    height: 10vh;
    width: 100%;
    z-index: 1;
    background-color: #cc0000;
    background-color: rgb(213,30,56);
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    overflow:hidden;
  
}

.header > a {
    color:white;
    text-decoration:none;
    font-size:1.6rem;
  
    font: 3rem 'Arizonia', Helvetica, sans-serif !important;
    margin-left:10px;


}



.headerul a {
  
    text-decoration: none;  
    color: white;
    padding: .5rem 1.5rem;

    text-decoration: none;
    
    font-weight:bold;

    border-top: 2px solid rgba(255,255,255,0);
    border-bottom: 2px solid rgba(255,255,255,0);
    transition: padding .3s,border-color .3s;
    font-size:1.2vw;
  
    

}


.headerul a:focus, a:hover{

  
  border-color: rgba(255,255,255,1);
  outline: none;

}



.centeredsearch {

    grid-row: 1/2;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.formcenter {

    margin-top: 10%;
    width: 100%;
    padding: 0;

}

.form-inline {
    /*dis form is flex so yeah*/
    justify-content: center;
}



.landtitlep {
    margin-bottom: 5%;

    background: linear-gradient(to right, #ff6600 10%, #800000 70%, #cc0000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10vw;
    font-family: "Poppins", sans-serif;

    text-align: center;


   
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 65% 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    /*background-repeat: no-repeat;*/
    background-position: 0 0;
    background-color: #222;



}

@-moz-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@-webkit-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@-o-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

.footer {


    grid-row: 2/3;
    z-index: 1;
    background-color: #cc0000;
    background-color: rgb(213,30,56);
    color: white;
    width:100%;
    height:100%;


}

.ftlinks {

    margin: auto;
    padding: 0;
    list-style: none;
    list-style-image: none;
    width: 200px;
    text-align: center;


}

.logobg {



    background-image: url('https://media-public.canva.com/MACDvTz2goA/1/screen.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 20%;



}

.profilecontainer {

    display: grid;
    grid-row: 1/2;
    grid-template-rows: 2fr 100px 1fr;
    grid-template-columns: 100%;

}


.profiledetail {

    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.gallery1 {
    grid-row: 3/4;
}



.loader {

    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;

    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes load5 {

    0%,
    100% {
        box-shadow:
            0em -2.6em 0em 0em #d12e2e,
            1.8em -1.8em 0 0em rgba(209, 46, 46, 0.2),
            2.5em 0em 0 0em rgba(209, 46, 46, 0.2),
            1.75em 1.75em 0 0em rgba(209, 46, 46, 0.2),
            0em 2.5em 0 0em rgba(209, 46, 46, 0.2),
            -1.8em 1.8em 0 0em rgba(209, 46, 46, 0.2),
            -2.6em 0em 0 0em rgba(209, 46, 46, 0.5),
            -1.8em -1.8em 0 0em rgba(209, 46, 46, 0.7);
    }

    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(209, 46, 46, 0.7), 1.8em -1.8em 0 0em #d12e2e, 2.5em 0em 0 0em rgba(209, 46, 46, 0.2), 1.75em 1.75em 0 0em rgba(209, 46, 46, 0.2), 0em 2.5em 0 0em rgba(209, 46, 46, 0.2), -1.8em 1.8em 0 0em rgba(209, 46, 46, 0.2), -2.6em 0em 0 0em rgba(209, 46, 46, 0.2), -1.8em -1.8em 0 0em rgba(209, 46, 46, 0.5);
    }

    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(209, 46, 46, 0.5), 1.8em -1.8em 0 0em rgba(209, 46, 46, 0.7), 2.5em 0em 0 0em #d12e2e, 1.75em 1.75em 0 0em rgba(209, 46, 46, 0.2), 0em 2.5em 0 0em rgba(209, 46, 46, 0.2), -1.8em 1.8em 0 0em rgba(209, 46, 46, 0.2), -2.6em 0em 0 0em rgba(209, 46, 46, 0.2), -1.8em -1.8em 0 0em rgba(209, 46, 46, 0.2);
    }

    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(209, 46, 46, 0.2), 1.8em -1.8em 0 0em rgba(209, 46, 46, 0.5), 2.5em 0em 0 0em rgba(209, 46, 46, 0.7), 1.75em 1.75em 0 0em #d12e2e, 0em 2.5em 0 0em rgba(209, 46, 46, 0.2), -1.8em 1.8em 0 0em rgba(209, 46, 46, 0.2), -2.6em 0em 0 0em rgba(209, 46, 46, 0.2), -1.8em -1.8em 0 0em rgba(209, 46, 46, 0.2);
    }

    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(209, 46, 46, 0.2), 1.8em -1.8em 0 0em rgba(209, 46, 46, 0.2), 2.5em 0em 0 0em rgba(209, 46, 46, 0.5), 1.75em 1.75em 0 0em rgba(209, 46, 46, 0.7), 0em 2.5em 0 0em #d12e2e, -1.8em 1.8em 0 0em rgba(209, 46, 46, 0.2), -2.6em 0em 0 0em rgba(209, 46, 46, 0.2), -1.8em -1.8em 0 0em rgba(209, 46, 46, 0.2);
    }

    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(209, 46, 46, 0.2), 1.8em -1.8em 0 0em rgba(209, 46, 46, 0.2), 2.5em 0em 0 0em rgba(209, 46, 46, 0.2), 1.75em 1.75em 0 0em rgba(209, 46, 46, 0.5), 0em 2.5em 0 0em rgba(209, 46, 46, 0.7), -1.8em 1.8em 0 0em #d12e2e, -2.6em 0em 0 0em rgba(209, 46, 46, 0.2), -1.8em -1.8em 0 0em rgba(209, 46, 46, 0.2);
    }

    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(209, 46, 46, 0.2), 1.8em -1.8em 0 0em rgba(209, 46, 46, 0.2), 2.5em 0em 0 0em rgba(209, 46, 46, 0.2), 1.75em 1.75em 0 0em rgba(209, 46, 46, 0.2), 0em 2.5em 0 0em rgba(209, 46, 46, 0.5), -1.8em 1.8em 0 0em rgba(209, 46, 46, 0.7), -2.6em 0em 0 0em #d12e2e, -1.8em -1.8em 0 0em rgba(209, 46, 46, 0.2);
    }

    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(209, 46, 46, 0.2), 1.8em -1.8em 0 0em rgba(209, 46, 46, 0.2), 2.5em 0em 0 0em rgba(209, 46, 46, 0.2), 1.75em 1.75em 0 0em rgba(209, 46, 46, 0.2), 0em 2.5em 0 0em rgba(209, 46, 46, 0.2), -1.8em 1.8em 0 0em rgba(209, 46, 46, 0.5), -2.6em 0em 0 0em rgba(209, 46, 46, 0.7), -1.8em -1.8em 0 0em #d12e2e;
    }
}

@keyframes load5 {

    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #d12e2e, 1.8em -1.8em 0 0em rgba(209, 46, 46, 0.2), 2.5em 0em 0 0em rgba(209, 46, 46, 0.2), 1.75em 1.75em 0 0em rgba(209, 46, 46, 0.2), 0em 2.5em 0 0em rgba(209, 46, 46, 0.2), -1.8em 1.8em 0 0em rgba(209, 46, 46, 0.2), -2.6em 0em 0 0em rgba(209, 46, 46, 0.5), -1.8em -1.8em 0 0em rgba(209, 46, 46, 0.7);
    }

    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(209, 46, 46, 0.7), 1.8em -1.8em 0 0em #d12e2e, 2.5em 0em 0 0em rgba(209, 46, 46, 0.2), 1.75em 1.75em 0 0em rgba(209, 46, 46, 0.2), 0em 2.5em 0 0em rgba(209, 46, 46, 0.2), -1.8em 1.8em 0 0em rgba(209, 46, 46, 0.2), -2.6em 0em 0 0em rgba(209, 46, 46, 0.2), -1.8em -1.8em 0 0em rgba(209, 46, 46, 0.5);
    }

    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(209, 46, 46, 0.5), 1.8em -1.8em 0 0em rgba(209, 46, 46, 0.7), 2.5em 0em 0 0em #d12e2e, 1.75em 1.75em 0 0em rgba(209, 46, 46, 0.2), 0em 2.5em 0 0em rgba(209, 46, 46, 0.2), -1.8em 1.8em 0 0em rgba(209, 46, 46, 0.2), -2.6em 0em 0 0em rgba(209, 46, 46, 0.2), -1.8em -1.8em 0 0em rgba(209, 46, 46, 0.2);
    }

    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(209, 46, 46, 0.2), 1.8em -1.8em 0 0em rgba(209, 46, 46, 0.5), 2.5em 0em 0 0em rgba(209, 46, 46, 0.7), 1.75em 1.75em 0 0em #d12e2e, 0em 2.5em 0 0em rgba(209, 46, 46, 0.2), -1.8em 1.8em 0 0em rgba(209, 46, 46, 0.2), -2.6em 0em 0 0em rgba(209, 46, 46, 0.2), -1.8em -1.8em 0 0em rgba(209, 46, 46, 0.2);
    }

    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(209, 46, 46, 0.2), 1.8em -1.8em 0 0em rgba(209, 46, 46, 0.2), 2.5em 0em 0 0em rgba(209, 46, 46, 0.5), 1.75em 1.75em 0 0em rgba(209, 46, 46, 0.7), 0em 2.5em 0 0em #d12e2e, -1.8em 1.8em 0 0em rgba(209, 46, 46, 0.2), -2.6em 0em 0 0em rgba(209, 46, 46, 0.2), -1.8em -1.8em 0 0em rgba(209, 46, 46, 0.2);
    }

    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(209, 46, 46, 0.2), 1.8em -1.8em 0 0em rgba(209, 46, 46, 0.2), 2.5em 0em 0 0em rgba(209, 46, 46, 0.2), 1.75em 1.75em 0 0em rgba(209, 46, 46, 0.5), 0em 2.5em 0 0em rgba(209, 46, 46, 0.7), -1.8em 1.8em 0 0em #d12e2e, -2.6em 0em 0 0em rgba(209, 46, 46, 0.2), -1.8em -1.8em 0 0em rgba(209, 46, 46, 0.2);
    }

    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(209, 46, 46, 0.2), 1.8em -1.8em 0 0em rgba(209, 46, 46, 0.2), 2.5em 0em 0 0em rgba(209, 46, 46, 0.2), 1.75em 1.75em 0 0em rgba(209, 46, 46, 0.2), 0em 2.5em 0 0em rgba(209, 46, 46, 0.5), -1.8em 1.8em 0 0em rgba(209, 46, 46, 0.7), -2.6em 0em 0 0em #d12e2e, -1.8em -1.8em 0 0em rgba(209, 46, 46, 0.2);
    }

    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(209, 46, 46, 0.2), 1.8em -1.8em 0 0em rgba(209, 46, 46, 0.2), 2.5em 0em 0 0em rgba(209, 46, 46, 0.2), 1.75em 1.75em 0 0em rgba(209, 46, 46, 0.2), 0em 2.5em 0 0em rgba(209, 46, 46, 0.2), -1.8em 1.8em 0 0em rgba(209, 46, 46, 0.5), -2.6em 0em 0 0em rgba(209, 46, 46, 0.7), -1.8em -1.8em 0 0em #d12e2e;
    }
}


.profileimage {

    grid-column: 2/4;
    grid-row: 1;
    width: 40%;
    height: 50%;
    margin-left: 0;
    margin-right: auto;
    margin-top: 9%;
    /*box-shadow:0px 0px 50px 27px #ff0000;*/
    border-radius: 50%;
    background-repeat: no-repeat;
    background-color: red;
    image-rendering: crisp-edges;
    background-size: cover;
    background-position: 50% 50%;



}

.profileinfo {

    grid-column: 3/5;
    grid-row: 1;

}


.profilename {
    border-bottom: 5px solid darkred;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 100%;
    font-weight: bold;
}

@media screen and (min-width: 1101px) {

    .profilelabels,
    .profiledata,
    .quotation {
        font-size: 17px;

    }
}

@media screen and (max-width: 1100px) {

    .profilelabels,
    .profiledata,
    .quotation {
        font-size: 10px;

    }
}

.profilelabels {

    float: left;
    width: 35%;
    font-weight: 500;
    margin-right: 12%;
}

.profiledata {}

.quotation {

    margin: 0 auto;
    margin-top: 3%;
    quotes: "\201C""\201D""\2018""\2019";
    padding: 10px 20px;
    line-height: 1.4;
}

.quotation:before {
    content: open-quote;

    height: 0;
    line-height: 0;
    left: -10px;
    position: relative;
    top: 30px;
    color: #ccc;
    font-size: 4em;
}

.quotation::after {
    content: close-quote;

    height: 0;
    line-height: 0;
    left: 10px;
    position: relative;
    top: 35px;
    color: #ccc;
    font-size: 4em;
}



#carousel {
    width: 200px;
    /*this was the issue* fixed width rather than %*/
    height: 100%;
    margin: 0 auto;
    transform-style: preserve-3d;
    animation: rotation 20s infinite linear;

}

.container2 {

    margin: 0 auto;
    margin-bottom: 0;
    width: 210px;
    height: 90%;

    perspective: 1000px;
}

#carousel:hover {
    animation-play-state: paused;
}

#carousel figure {
    display: block;
    position: absolute;
    width: 186px;
    height: 80%;
    left: 10px;
    top: 10px;
    background: black;
    overflow: hidden;
    border: solid 5px black;
    margin: 0;
}

#carousel figure>img {

    width: 100%;
    height: 100%;
    /*-webkit-filter: grayscale(1);*/
    cursor: pointer;
    transition: all .5s ease;


}

/*#carousel figure>img:hover{
  -webkit-filter: grayscale(0);
  /*transform: scale(1.2,1.2);
}*/


#carousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(288px);
}

#carousel figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(288px);
}

#carousel figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(288px);
}

#carousel figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(288px);
}

#carousel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(288px);
}

#carousel figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(288px);
}

#carousel figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(288px);
}

#carousel figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(288px);
}

#carousel figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(288px);
}



@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}



.favbookscontainer {


    grid-row: 2/3;
    margin: 0 auto;
    white-space: nowrap;
    text-align: center;
    font-weight: 500;


}

.favbooksicon {
    grid-row: 2/3;

    white-space: nowrap;
    height: 100px;


}

.favbooksicon>img {

    width: 10em;
    height: 2em;
    -webkit-filter: grayscale(0);



}

.mybookscontainer {

    grid-row: 1/2;
    display: grid;
    grid-template-columns: 16em 1.5fr 1fr;
    grid-template-rows: 1fr;
    overflow-y: scroll;

}

.mybookscontainer2 {

    grid-row: 1/2;
    display: grid;
    grid-template-columns: 16em 3fr;
    grid-template-rows: 1fr;
    overflow-y: hidden;

}

.booklistsidebar {

    grid-column: 1/2;

    overflow-y: scroll;
    background-color:#ffe6e6;
    overflow-x:hidden;


}

.booklistsidebar ul {
    list-style: none;
    font-size: 1em;

    margin-top: 10px auto;
    padding:0;
    text-align:center;
    overflow-x:hidden;

}

.booklistsidebar li {

    text-align: center;
    padding: 10px;



}

.booklistsidebar li:hover {

    background: rgb(213,30,56);
    cursor: pointer;
    color: white;
}


.shelvesh1{
    margin-top:70px;
    font-weight:bold;
    font-size:2.8em;


}

.goodReadsLogo{
    background-image: url('./images/goodreadslogo.png');
    background-repeat:no-repeat;
    height:10em;
    width:10em;
    background-size:contain;
    margin-top:5em;
    margin-bottom:5em;
    margin-left:auto;
    margin-right:auto;

   
}

.goodReadsLogoHR{
  width: 8em;
  height: 3px;
  background: darkred;
  text-align:center;


}

.style-13::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.style-13::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D62929;
    background-image: -webkit-linear-gradient(90deg,
        transparent,
        rgba(0, 0, 0, 0.4) 50%,
        transparent,
        transparent)
}

.divider {

    border-bottom: 3px solid darkred;
    margin: .5em 0;
}

.mybookstable {

    grid-column: 2/3;
    overflow-y: scroll;


}

.mdbtablemybooks {


    border-color: orange;
}

.pointer {
    cursor: pointer;
}

.previewnote {

    grid-column: 3/4;
    display: grid;
    grid-template-rows: 1fr 1fr 400px;
    grid-template-columns: 1fr;
    overflow-y: scroll;


}

.bookprevinfo {
    grid-row: 1/2;

    /*grid-template-columns: 200px 2fr;
  grid-template-rows:300px 1fr;*/

}

.bookprevinfo img {
    padding: 3%;
    height: 400px;
    float: left;


}

.bkprevdet {

    padding: 2%;

}

.bkprevtitle {
    padding-bottom: 3%;

}

.noteprevinfo {
    grid-row: 2/3;

}

.toBkNoteLink {
 
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em; 
  display: inline-block;
  padding: 15px 20px;
  margin-left:30%;
  font-weight:bold;

}

.toBkNoteLink:after{
 
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;

  background: darkred;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.toBkNoteLink:hover:after { 
  width: 100%; 
  left: 0; 
}

.calendarprevinfo {
    grid-row: 3/4;

}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/*calendar styling*/

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .header .icon {
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 70%;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .cell {
  position: relative;
  height: 5em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
  overflow-y:auto;
}

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
  border-image-slice: 1;
}

.calendar .body .row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

.calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
  opacity: 0.05;
  transition: .5s ease-in;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}


/* flexbox calendar */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}


.flex-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}

.calsched {

    background-color:#53cbf1;
    height:10%;
    width:50%;
    margin-top:5px;
    margin-bottom:5px;
    
}

.editlabel {

    text-decoration: underline;
}

.editdates {

 margin-bottom:20px;
}

.editlabel2 {
    margin-right:10px;

}
.dtpickstart {

    margin-right:10px;
    margin-bottom:10px;

}


.dtpickend {

margin-left:10px;



}

.react-datetime-picker__inputGroup {

    width:200px;


}

.modalstartinput {



}

.btn.btn-sm {

    padding:.84rem 2.14rem;
    font-size:.67rem;
}

.bknotewarningred {

    color:red;
}


.bkcards {

    display:grid;
    grid-row:2/3;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(375px, auto);
    grid-gap:4rem;
    margin-left:20rem;
    margin-top:5rem;
    margin-right:20rem;
    margin-bottom:5rem;

}

.bkcard{

  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: .5rem;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  color: #5d5e5e;
  text-align:center;
  background: #d53369;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #cbad6d, #d53369);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #cbad6d, #d53369); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-wrap: break-word;




}

.bkcard:hover {
  

  transition: transform .75s;
  box-shadow: 20px 20px 40px 0px rgba(0,0,0,0.5);
  transform: scale3d(1.06, 1.09, 2);
  cursor:pointer;
}

.bkcardedit {
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: .5rem;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  color: #5d5e5e;
  text-align:center;
  background: #d53369;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #cbad6d, #d53369);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #cbad6d, #d53369); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-wrap: break-word;
  opacity:0.4;
}

.bkcardeditselect {

  border: 2px solid #e7e7e7;
  border-radius: 4px;
  border-style: dotted;
  padding: .5rem;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  color: #5d5e5e;
  text-align:center;
  background: #d53369;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #cbad6d, #d53369);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #cbad6d, #d53369); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-wrap: break-word;
  


}

.cardTitle{

 
  margin: 70px 0 0 0;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #9CC9E3;
  font-family: 'Roboto', sans-serif;
 
  


}

.cardTitle2{


  font-size: 17px;
  font-weight: 300;
  letter-spacing: 2px;
  color: white;
  font-family: 'Roboto', sans-serif;

} 

hr {

  width: 50px;
  height: 3px;
  margin: 20px auto;
  border: 0;
  background: #D0BB57;
}



.cardscontainer{

    
    height:100%;
    width:100%;
    display:grid;
    grid-row:1/2;
    grid-template-rows:50px 1fr;
  
    
}

.bknoteparent {

   
    display:grid;
    grid-template-rows:100%;
    grid-template-columns:100%;
    grid-row:1/2;
    width:100%;
}

.editCards {

    display:grid;
    grid-row:1/2;
    grid-column:2/3;
    

    height:35px;
    width:200px;
    
    

    

    -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
    background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
    background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
    background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
    background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
    background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
    background-color:#ffc477;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #eeb44f;
    
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #cc9f52;
}

.editCards:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
    background:-moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
    background:-webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
    background:-o-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
    background:-ms-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
    background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477',GradientType=0);
    background-color:#fb9e25;
}


.editflex {

    grid-row:1/2;
    grid-column:2/3;
    display:flex;
    justify-content:flex-start;
    align-items:center;

}

.editFlexBack{
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em; 
  display: inline-block;
  padding: 15px 20px;
  font-weight:bold;
 color:black !important;
 width:13rem;
 margin-left:15%;
 cursor:pointer;


}
.editFlexBack:after{
 text-decoration: none;

  content: "";
  display: block;
  height: 2px;
 

  background: darkred;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width:0%;
}

.editFlexBack:hover:after { 
  width: 100%; 
  
  text-decoration: none;
  
}

/*.addCenter {
    text-align:center;
    width:100%;
    background-position: center; 

}*/

.addChapter {
    background-image:url("./images/addchapters.jpg");
    background-repeat: no-repeat;
    height:150px;
    cursor:pointer;
    background-position: center; 

}









.saveCards {

    
    grid-row:1/2;
    grid-column:2/3;
    height:35px;
    width:200px;
    margin:15px;
    

    

    

    -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
    background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
    background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
    background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
    background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
    background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
    background-color:#ffc477;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #eeb44f;
    
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #cc9f52;
}

.saveCards:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
    background:-moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
    background:-webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
    background:-o-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
    background:-ms-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
    background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477',GradientType=0);
    background-color:#fb9e25;
}


.icon-trash {
    display:grid;
    grid-row:1/2;
    grid-column:2/3;
    
    
    
    cursor:pointer;
    width: 48px;
    height: 48px;
    position: relative;
    overflow: hidden;
  
  
 
   
}

.icon-trash .trash-lid {
  width: 62%;
  height: 10%;
  position: absolute;
  left: 50%;
  margin-left: -31%;
  top: 10.5%;
  background-color: #000;
  border-top-left-radius: 80%;
  border-top-right-radius: 80%;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg); 
}

.icon-trash .trash-lid:after {
  content: "";
  width: 26%;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -13%;
  margin-top: -10%;
  background-color: inherit;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg); 
}

.icon-trash .trash-container {
  width: 56%;
  height: 65%;
  position: absolute;
  left: 50%;
  margin-left: -28%;
  bottom: 10%;
  background-color: #000;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
}

.icon-trash .trash-container:after {
  content: "";
  width: 110%;
  height: 12%;
  position: absolute;
  left: 50%;
  margin-left: -55%;
  top: 0;
  background-color: inherit;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
}

.icon-trash .trash-line-1 {
  width: 4%;
  height: 50%;
  position: absolute;
  left: 38%;
  margin-left: -2%;
  bottom: 17%;
  background-color: #252527;
}

.icon-trash .trash-line-2 {
  width: 4%;
  height: 50%;
  position: absolute;
  left: 50%;
  margin-left: -2%;
  bottom: 17%;
  background-color: #252527;
}

.icon-trash .trash-line-3 {
  width: 4%;
  height: 50%;
  position: absolute;
  left: 62%;
  margin-left: -2%;
  bottom: 17%;
  background-color: #252527;
}

.editcontainer{

    display:grid;
    
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr;
    grid-row:1/2;
  
    height:100%;
  

}

.book {
    margin-top:50px !important;
    margin-left:30% !important;
    height:90%;
    width:90%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow:hidden;

    box-shadow: 0px 4px 10px #666;    

}



.book .hard{
   
 
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    font-weight:bold;

    
    
    
     
      
      color:#9CC9E3; /*#5d5e5e;*/
      font-size:20px;
      text-align:center;
      background: #d53369;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #cbad6d, #d53369) !important;  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #cbad6d, #d53369) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      overflow-wrap: break-word;


}

.noteCover {

margin-top:10px;

}


.page-wrapper {

    perspective:2000px;
}


.book .odd{
    background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
    background-image:-webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;



}

.book .even{
    background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
    background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:linear-gradient(left, #fff 95%, #dadada 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
}



.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
  

}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;

}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}

.editNoteModal{
    max-width:800px;
}

blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 14px;
  line-height: 1.2;
  color: #666;

  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;

  /*Borders - (Optional)*/
  border-left-style: solid;
  border-left-width: 15px;
  border-right-style: solid;
  border-right-width: 2px;    
  overflow-wrap: break-word;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;

  
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

blockquote.grapefruit{
  border-left-color: #ed5565;
  border-right-color: #da4453;
}

.pageOL{
    list-style-type: decimal;
}

.pageUL{
    list-style-type:disc;
}

.page{
    background-color:white;
 
}

.pageText{
    margin:0px 20px 0px 20px;
}

.turnjsPageNum{
    text-align:center;
    margin-top:5px;
}




/*MEDIA QUERY TIME!! =)*/
@media (min-width: 1281px) {
  



  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  


  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  

  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  


  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  


  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  



}